.feynman__link {
  text-decoration: none;
  margin-right: 48px;
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 36px;
  line-height: 51px;
  color: #2f80ed;
  transition: opacity .7s linear;
}

.feynman__link:hover {
  opacity: 0.3;
}
